footer {
  z-index: 5;
position: relative;
background: #333;
color: white;
width: 100%;
margin: 0;
padding-top: 15px;
}

.sales-menu {
  min-height: 200px;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    max-width: 20%;
    border: none;
    color: white;
}

.getting-started-menu {
  margin: 40px 0;
}

.main-footer-row {
  width: 100%;
min-height: 300px;
height: 100%;
padding: 0 20px;
}

.main-footer-container {
  width: 95%;
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template: 200px / 200px 200px 200px 200px 200px 200px;
}

.main-footer-row {
  flex-direction: row;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
