body {
  text-align: center;
  margin: auto;
  width: auto;
  color: #424242;
}


h1 {
  text-align: center;
  margin: inherit;
  width: 50%;
}

h2 {
  text-align: center;
  margin-top: auto;
  width: inherit;
  text-decoration-style: solid;
}

h3 {
  text-align: center;
  color: inherit;
  width: auto;
  margin-right: auto;
  text-decoration: line-through;
}
